 body {
   background: url(Images/bgImg.png);
 }

 .active {
   color: black !important;
   text-shadow: 0 0 1px red, 0 0 3px blue;
 }

 .text-shadow {
color: pink;
   text-shadow: 0 0 3px red, 0 0 5px green;

 }

 .card-img-top{
  height: 200px;
 }
