h1{
    color: rgb(46, 48, 186);
    background-color: rgb(227, 227, 139);
}
h2{
    color: rgb(151, 206, 228);
    background-color: rgb(90, 13, 98);
}
.mt-10{
    margin-top: 10px;
}
img{
    width: 700px;
    height: 500px;
}